<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">

    <testsuites>
        <testsuite name="baseline">
            <directory suffix=".php">Tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src/Ylem</directory>

            <exclude>
                <directory suffix="Factory.php">src/Ylem</directory>
                <directory suffix=".php">src/Ylem/routes</directory>

            </exclude>
        </whitelist>
    </filter>

</phpunit>

