<phpunit>
    <testsuite name="app1" >
        <directory>tests/TestCase.php</directory>
    </testsuite>
	<filter>
		<whitelist processUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">src</directory>
			<exclude>
			    <directory suffix=".php">src/Ylem/Database/factories</directory>
			</exclude>
		</whitelist>
	</filter>
</phpunit>
