.content.base-manager {
	padding: 30px 15px 0 15px !important;
}

.row.child-views-holder {
	overflow-x: scroll;	
	flex-wrap: nowrap !important;
	height: calc(100vh - 63.35px - 90px);
	position: relative;
}

.card.party-info-holder {
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 0;
	
	& > h5 {
		text-align: center;
		margin: 0;
	}
}

.row.party-card-holder {
	margin-top: 5px;
	margin-bottom: 5px;
}

div.breadcrumb-nav {
	font-size: 80%;
}

.card.party-info-card {
	max-width: 20rem;
	min-width: 15rem;
	min-height: 7rem;

	&:hover {
		transition: border-color .5s;
		border-color: var(--secondary);
	}
	
	& > span.card-icon-right {
		position: absolute;
		right: -15px;
		width: 25px;
		height: 25px;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 50%;
		border: 1px solid var(--gray);
		background: var(--gray);
		color: #fff;
		top: 50%;
		cursor: pointer;
		transform: translateY(-50%);

		&:hover {
			background: var(--gray-dark);
			border-color: var(--gray-dark);
			transition: all .5s;
		}
	}

	& .dropdown-toggle {
		padding: 0;

		&::after {
			display: none;
		}
	}

	& li {
		list-style-type: none;
	}

}

// Tabs
div.row.tab-holder-row {
	height: calc(100vh - 63.35px - 30px); 

	& > .tab-holder {
		padding-bottom: 30px;
	}

	& .card {
		height: 100%;
	}

	& .navbar.tab-navbar {
		border-bottom: none;
		position: relative;

		& > .navbar-brand {
			color: var(--indigo) !important;
		}

		&::after {
			content: '';
			display: block;
			height: 1px;
			width: 100%;
			position: absolute;
			bottom: 0;
			left: 0;
			background: var(--light)
		}

		& .tab-item-holder {
			& .nav-item {
				position: relative;
				cursor: pointer;
				&::after {
					content: '';
					display: block;
					position: absolute;
					z-index: 999;
					bottom: -7px;
					left: 0;
					height: 0;
					width: 100%;
					background: var(--primary);
				}

				&:hover {
					&::after {
						transition: height .5s;
						height: 5px;
					}
				}
			}

			& .nav-item.active {
				&::after {
					height: 5px;
				}
			}
		}
	}
}

// POSTAL
.badge.make_primary_address_badge {
	cursor: pointer;
}
